@import url(reset.css);
@import url(fonts.css);


body
{
    background-color: #040;
}

h2
{
    /* Dimesions */
    margin-bottom: 10px;
    
    /* Text Formatting */
    font-weight: 800;
    font-size: 140%;
    
    
}

a
{
    cursor: pointer;
}