@import url(global.css);

#wrapper
{
    padding-bottom: 100px;
    text-align: center;
}




/*========  Site Header  ========*/

#topPanel
{
    /* Size and Position */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
    
    /* Color and Style */
    background-color: #0a0;
    box-shadow: 0 0 40px #040;
}
#logo
{
    /* Size and Position */
    position: relative;
    float: left;
    width: 310px;
    height: 56px;
    margin-left: 30px;
    margin-top: 15px;
    
    /* Color and Style */
    background: url('/images/logo2.png') no-repeat;
}
#userPanel
{
    /* Size and Position */
    position: relative;
    float: right;
    padding: 15px;
    margin-top: 14px;
    margin-right: 20px;
    
    /* Text Format */
    font-family: "Raleway", sans-serif;
    
}
#userPanel ul li
{
    /* Size and Position */
    float: left;
    margin-right: 20px;
    padding: 8px 12px;
    
    /* Color and Style */
    border-radius: 5px;
}
#userPanel .userHandle
{
    /* Color and Style */
    background-color: #040;
    
    /* Text Format */
    color: #0f0;
}
#userPanel .userHandle .icon
{
    margin-right: 6px;
}
#userPanel a
{
    /* Text Format */
    text-decoration: none;
    color: #000;
    
}
#userPanel a:hover
{
    /* Text Format */
    color: #0f0;
}


#mainContainer
{
    display: inline-block;
    
    /* Size and Position */
    min-height: 1000px;
    margin: 0 auto;
    margin-top: 90px; /* #topPanel height */
    padding-top: 30px;
}









/*========  Left Column  ========*/

#leftCol
{
    /* Size and Position */
    position: relative;
    float: left;
}
#groupPanel
{
    /* Size and Position */
    text-align: center;
}
.groupButton
{
    /* Size and Position */
    margin: 0 auto 20px auto;
    width: 60px;
    height: 60px;
    border-radius: 15px; /* width/2 to make circular */
    
    /* Color and Style */
    background-color: #0a0;
    border: none;
    outline: none;
    
    /* Text Format */
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-family: "Poiret One", serif;
    font-size: 10pt;
    
    /* Special Properties */
    cursor: pointer;
    
}
.gb_selected
{
    /* Color and Style */
    background-color: #0f0;
    box-shadow: 0px 0px 20px #0f0;
}

.groupRemoveButton
{
    /* Size and Position */
    float: right;
    
    /* Color and Style */
    color: #060;
    border: none;
    outline: none;
    background: none;
}
.groupRemoveButton:hover
{
    /* Color and Style */
    color: #0f0;
}

#groupAddButton
{
    /* Special */
    cursor: pointer;
    
    /* Size and Position */
    margin-top: 60px;
    
    /* Color and Style */
    color: #0a0;
}
#groupAddButton:hover
{
    /* Color and Style */
    color: #0f0;
}









/*========  Right Column  ========*/

#rightCol
{
    /* Properties */
    
    /* Size and Position */
    width: 180px;
    float: left;
    
    /* Text Format */
    font-family: "Raleway", sans-serif;
    color: #0f0;
}
#memberPanel
{
    
}
#memberPanel .header
{
    /* Size and Position */
    margin-bottom: 20px;
    
    
    /* Color and Style */
    background: none;
    border-bottom: 1px solid #080;
    border-radius: 0;
    
    
    /* Text Format */
    font-weight: 800;
    text-align: center;
    color: #0c0;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}
#memberPanel li
{
    /* Size and Position */
    margin-bottom: 10px;
    padding: 8px;
    
    /* Color and Style */
    border-radius: 5px;
    background-color: #050;
    
    /* Text Format */
    text-align: left;
}








/*========  Center Column  ========*/

.alert /* Messages outside post boxes */
{
    /* Size and Position */
    margin-top: 100px;
    
    /* Text Format */
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #0d0;
}

#centerCol
{
    /* Size and Position */
    position: relative;
    float: left;
    width: 700px;
    margin: 0 60px;
}



/*========  Post Form  ========*/

#showPostFormButton
{
    /* Special */
    cursor: text;
    
    /* Size and Position */
    padding: 10px;
    
    /* Color and Style */
    border: 1px solid #060;
    border-radius: 5px;
    background-color: #0c0;
    
    /* Text Format */
    font-size: 12pt;
    font-family: "Raleway", sans-serif;
    text-align: left;
    color: #060;
}

#postForm
{
    /* Size and Position */
    margin-bottom: 30px;
    
    /* Color and Style */
    background-color: #0a0;
    border-radius: 10px;
    
    /* Text Format */
    text-align: center;
}
#postForm article
{
    padding: 15px;
    padding-bottom: 25px;
}

#postFormInput
{
    /* Size and Position */
    padding: 10px;
    
    /* Color and Style */
    border: 1px solid #060;
    border-radius: 5px;
    background-color: #0c0;
}

#postFormInput #postFormTextBox
{
    /* Properties */
    display: block;
    resize: none;
    
    /* Size and Position */
    width: 100%;
    padding: 0;

    /* Color and Style */
    border: none;
    background: none;
    outline: none;
    
    /* Text Format */
    font-size: 12pt;
    font-family: "Raleway", sans-serif;
    text-align: justify;
}
#postFormAction
{
    /* Size and Position */
    margin-top: 20px;
}
#postFormAction button
{
    /* Size and Position */
    padding: 10px 14px;
    
    /* Color and Style */
    border: none;
    border-radius: 5px;
    background-color: #040;
    
    /* Text Format */
    font-size: 8pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0f0;
}
#postFormAction button .icon
{
    /* Text Format */
    font-size: 10pt;
}

#postFormAction button:focus
{
    /* Color and Style */
    outline: 0;
    
    box-shadow: 0 0 10px #ff0;
}



/*========  Posts  ========*/

.spinnerDiv
{
    text-align: center;
    color: #0a0;
    background: none;
}

.post
{
    /* Size and Position */
    padding-bottom: 20px;
    margin-bottom: 30px;
    
    /* Color and Style */
    background-color: #0a0;
    border-radius: 20px;
    
    /* Text Format */
    font-family: "Raleway", sans-serif;
}
.post article
{
    padding: 30px;
    
    /* Text Format */
    text-align: left;
}
.post article h2
{
    /* Text Format */
    font-family: "Titillium Web", sans-serif;
    font-size: 20pt;
    font-weight: 200;
}
.post article aside
{
    /* Size and Position */
    margin-bottom: 30px;
    
    /* Text Format */
    font-size: 10pt;
    font-style: italic;
    color: #050;
}
.post article p
{
    margin: 0 20px;
    padding: 10px;
    
    /* Text Format */
    font-family: "Titillium Web", sans-serif;
    font-size: 14pt;
    font-weight: 200;
    text-align: justify;
    line-height: 150%;
    vertical-align: top;
    white-space: pre-wrap;
}
.post article .editTextBox
{
    /* Size and Position */
    margin: 0 20px;
    padding: 9px;
    
    /* Color and Style */
    background-color: #0c0;
    border: 1px solid #060;
    border-radius: 5px;
    outline: none;
    
    /* Text Format */
    font-family: "Titillium Web", sans-serif;
    font-size: 14pt;
    font-weight: 200;
    text-align: justify;
    line-height: 150%;
    vertical-align: top;
    white-space: pre-wrap;
}
.post article .editSubmitButton
{   
    /* Size and Position */
    float: right;
    position: relative;
    top: -40px;
    left: 20px;
    
    /* Color and Style */
    background: none;
    border: none;
    outline: none;
    font-size: 18pt;
    color: #040;
}
.post article .editSubmitButton:hover
{
    /* Color and Style */
    color: #0f0;
}

.post footer
{
    /* Size and Position */
    padding-top: 15px;
    
    /* Color and Style */
    border-top: 1px dashed #080;
}
.post footer .postComments
{
    /* Size and Position */
    margin-left: 20px;
}
.post footer .postComments .spinnerDiv
{
    color: #060;
}
.post footer .postCommentsForm
{
    /* Size and Position */
    margin: 10px 30px;
    padding: 10px;
}
.post footer .postCommentsForm .postCommentsFormText
{
    display: inline-block;
    
    /* Size and Position */
    width: 400px;
    height: 40px;
    padding: 10px;
    
    /* Color and Style */
    border: 1px solid #060;
    border-radius: 5px;
    background-color: #0c0;
}
.post footer .postCommentsForm textarea
{
    /* Size and Position */
    width: 100%;
    height: 100%;
    padding: 0;
    
    /* Color and Style */
    border: none;
    background: none;
    outline: none;
    resize: none;
}
.post footer .postCommentsForm .postCommentsFormButton
{
    width: 40px;
    height: 40px;
}

.post footer .postFooterActions .postCommentsButton
{
    /* Color and Style */
    background: none;
    border: none;
    outline: none;
    
    /* Text Format */
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    text-transform: lowercase;
    color: #060;
}
.post footer .postFooterActions .postCommentsButton:hover
{
    
    /* Text Format */
    color: #0f0;
}

.post .postActions
{
    /* Size and Position */
    float: right;
    margin: 10px;
}
.post .postActions button
{
    /* Text Format */
    color: #040;
    text-decoration: none;
    font-size: 12pt;
    
    border: none;
    outline: none;
    background: none;
}
.post .postActions button:hover
{
    /* Text Format */
    color: #0f0;
}






