
#loginContainer
{
    /* Size and Position */
    margin-top: 100px;
}


.formDiv
{
    /* Dimensions */
    position: relative;
    width: 300px;
    height: auto;
    margin: 0 auto 40px auto;
    padding: 30px 20px 40px;
    
    /* Color and Style */
    background-color: #0a0;
    border-radius: 10px;
    
    /* Text Format */
    text-align: center;
}

.formDiv h2
{
    padding-bottom: 10px;
    margin-bottom: 32px;
    border-bottom: 1px solid #060;
    
    /* Text Format */
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 24pt;
}

.formDiv .errorMsg
{
    margin-bottom: 10px;
    /* Text Format */
    font-size: 9pt;
    font-style: italic;
    text-align: center;
}

.formDiv .icon
{
    /* Size and Position */
    float: left;
    padding: 5px;
    width: 20px;
    height: 20px;
    
    /* Color and Style */
    background-color: #040;
    border: 1px solid #040;
    border-right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    /* Text Format */
    text-align: center;
    font-size: 10pt;
    color: #0f0;
}
.formDiv .icon i
{
    position: relative;
    top: -2px;
}

.formDiv input
{
    /* Size and Position */
    padding: 5px;
    padding-left: 10px;
    width: 180px;
    height: 20px;
    
    /* Color and Style */
    border: 1px solid #040;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #0c0;
    outline: none;
    
    /* Text Format */
    color: #000;
}
.formDiv input::-webkit-input-placeholder
{
    position: relative;
    left: 5px;
    
    /* Text Format */
    color: #080;
}

.formDiv button
{
    /* Size and Position */
    margin-top: 12px;
    padding: 10px 14px;
    
    /* Color and Style */
    border: none;
    border-radius: 5px;
    background-color: #040;
    
    /* Text Format */
    font-size: 8pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0f0;
}
.formDiv button:focus
{
    /* Color and Style */
    outline: 0;
    
    box-shadow: 0 0 10px #ff0;
}
.formDiv button i
{
    margin-right: 5px;
    font-size: 10pt;
}

.formDiv form
{
    /* Properties */
    display: inline-block;
    
    /* Text Format */
    text-align: left;
    font-family: "Raleway", sans-serif;
}
.formDiv p
{
    /* Size and Position */
    margin-bottom: 20px;
    
    /* Text Format */
    line-height: 150%;
}
.formDiv .formAction
{
    /* Size and Position */
    margin-top: 20px;
    
    /* Text Format */
    text-align: center;
}












