<div id="loginContainer">

    <div id="loginForm" class="form-div">
        <header>Login</header>
        <form ng-submit="login(loginform.user, loginform.pass)">
            <div class="forminput">
                <div class="form_error-msg">{{loginForm_errorMsg}}</div>
                <p>
                    <span class="form_icon"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form_text-box" type="text" placeholder="Username" ng-model="loginform.user" id="loginUser"/>
                </p>
                <p>
                    <span class="form_icon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form_text-box" type="password" placeholder="Password" ng-model="loginform.pass"/>
                </p>
            </div>
            <div class="form_action">
                <button class="form_button" type="submit"><i class="fa fa-sign-in"></i>Sign in</button class="form_button">
            </div>
            <aside class="login_lost-password">
                <a href="#/pswdreset">Lost password?</a>
            </aside>
        </form>
    </div><!-- end #loginForm -->

    <div id="registerForm" class="form-div">
        <header>Register</header>
        <form ng-submit="register(registerForm.user, registerForm.email, registerForm.pass1, registerForm.pass2)">
            <div class="forminput">
                <div class="form_error-msg">{{registerForm_errorMsg}}</div>
                <p>
                    <span class="form_icon"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form_text-box" type="text" placeholder="Username" ng-model="registerForm.user"/>
                </p>
                <p>
                    <span class="form_icon"><i class="fa fa-envelope fa-fw"></i></span>
                    <input class="form_text-box" type="text" placeholder="Email" ng-model="registerForm.email"/>
                </p>
                <p>
                    <span class="form_icon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form_text-box" type="password" placeholder="Password" ng-model="registerForm.pass1"/>
                </p>
                <p>
                    <span class="form_icon"><i class="fa fa-check fa-fw"></i></span>
                    <input class="form_text-box" type="password" placeholder="Confirm Password" ng-model="registerForm.pass2"/>
                </p>
            </div>
            <div class="form_action">
                <button class="form_button" type="submit"><i class="fa fa-user-plus"></i>Register</button class="form_button">
            </div>
        </form>
    </div><!-- end #loginForm -->

</div><!-- end #mainContainer -->
