@import url(global.css);



#mainContainer
{
    margin-top: 80px;
}


/*** Input Forms ***/

.formDiv
{
    /* Dimensions */
    position: relative;
    width: 220px;
    height: auto;
    margin: 0 auto 40px auto;
    padding: 20px;
    
    /* Color and Style */
    background-color: #0a0;
    border-radius: 10px;
    
    /* Text Formatting */
    text-align: center;
}


/*** Login Form ***/

#loginForm form
{
    display: inline-block;
    
    text-align: left;
    font-family: "Raleway", sans-serif;
}
#loginForm p
{
    margin-bottom: 10px;
    
    line-height: 150%;
}
#loginFormAction
{
    margin-top: 20px;
    
    text-align: center;
}
#loginForm input
{
    width: 160px;
    padding: 5px;
    
    border: none;
    border-radius: 5px;
    background-color: #060;
    
    color: #0c0;
    
    outline: none;
}
#loginForm input[type="submit"]
{
    width: auto;
    padding: 10px;
    
    border-radius: 5px;
}


/*** Register Form ***/

#registerForm form
{
    display: inline-block;
    
    text-align: left;
    font-family: "Raleway", sans-serif;
}
#registerForm p
{
    margin-bottom: 10px;
    
    line-height: 150%;
}
#registerFormAction
{
    margin-top: 20px;
    
    text-align: center;
}
#registerForm input
{
    padding: 5px;
    width: 160px;
    
    border: none;
    border-radius: 5px;
    background-color: #060;
    
    color: #0c0;
    
    outline: none;
}
#registerForm input[type="submit"]
{
    width: auto;
    padding: 10px;
    
    
    border-radius: 5px;
}












