<div id="topPanel">
    <div id="logo"></div>
    <div id="userPanel">
        <ul>
            <li class="userHandle">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span>{{user.handle}}</span>
            </li>
            <li class="userNavItem"><a ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;sign out</a></li>
        </ul>
    </div><!-- end #userPanel -->
</div><!-- end #topPanel -->

<div id="mainContainer">
    <!-- Group List -->
    <div id="leftCol">

        <div id="groupPanel">

            <div class="spinnerDiv" ng-if="groupsLoading"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
            <div ng-repeat="group in groups track by $index">
                <button class="groupButton" ng-click="selectGroup(group)" ng-class="{gb_selected: group==selected_group}">{{$index+1}}</button>
                <button class="groupRemoveButton" ng-click="removeGroup(group, $index)"><i class="fa fa-times fa-2x"></i></button>
            </div>
            <div id="groupAddButton" ng-click="addGroup()"><i class="fa fa-users fa-2x"></i><i class="fa fa-plus" style="position: relative; top: 4px; left: 2px;"></i></div>

        </div><!-- end #groupPanel -->

    </div><!-- end #leftCol -->
    
    <div id="centerCol">

        <div id="postForm">
            <article>
                
                <div id="showPostFormButton" ng-click="showPostForm()" ng-if="!postFormVisible">What's the word?</div>
                
                <form ng-submit="submitPost(selected_group, content)" ng-if="postFormVisible">
                    
                    <div id="postFormInput">
                        <div id="postFormTextBox" contenteditable ng-model="content"></div>
                    </div>
                    <div id="postFormAction">
                        <button type="submit">
                            <span class="icon"><i class="fa fa-pencil-square-o"></i></span>
                            <span class="text">Post</span>
                        </button>
                    </div>
                    
                </form>
                
            </article>
        </div><!-- #postForm -->
        
        <div class="alert" ng-if="posts.length==0 && !postsLoading">No messages exist for this group.</div>
        
        
        <div class="post" ng-repeat="post in posts track by $index">
            <aside class="postActions" ng-if="post.user_handle == user.handle">
                <button ng-click="showEditForm($index)">
                    <span>
                        <i class="fa fa-pencil" ng-if="!post.editMode"></i>
                        <i class="fa fa-times-circle" ng-if="post.editMode"></i>
                    </span>
                </button>
                <button ng-click="deletePost($index)"><i class="fa fa-trash"></i></button>
            </aside>
            <article>
                <h2 class="postName">{{post.user_handle}}</h2>
                <aside class="postDate">{{convertDate(post.date)}}</aside>
                <p ng-if="!post.editMode">{{post.content}}</p>
                
                <div class="editForm" ng-if="post.editMode">
                    <div class="editTextBox" contenteditable ng-model="post.editContent">{{post.content}}</div>
                    <button class="editSubmitButton" ng-click="editPost($index)"><i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </article>
            <footer>
                <div class="comments" ng-if="post.commentsVisible">
                    
                    <!-- No Comments Message -->
                    <div class="noCommentsMessage" ng-if="post.comments.length==0 && !post.commentsLoading"><i class="fa fa-exclamation-triangle"></i>&nbsp;No comments written.</div>
                    
                    <!-- Comment -->
                    <article ng-repeat="comment in post.comments">
                        <h2>{{comment.user_handle}}</h2>
                        <aside>{{convertDate(comment.date)}}</aside>
                        <p>{{comment.content}}</p>
                    </article>
                    
                    <!-- Comments Spinner -->
                    <div class="spinnerDiv" ng-if="post.commentsLoading"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
                    
                </div>
                
                <!-- Comments Form -->
                <div class="commentsForm" ng-if="post.commentsVisible">
                    <div class="commentsTextBox" contenteditable ng-model="post.commentsFormContent"></div>
                    <button class="commentsSubmitButton" ng-click="submitComment($index)"><i class="fa fa-arrow-circle-right"></i></button>
                </div>
                
                <div class="postFooterActions">
                    <!-- Show Comments Button -->
                    <button class="commentsButton" ng-click="showComments($index)" ng-if="!post.commentsVisible"><i class="fa fa-comments"></i>&nbsp;Comments</button>
                </div>
            </footer>
        </div>

        <div class="spinnerDiv" ng-if="posts.length<totalPosts"><i class="fa fa-sun-o fa-spin fa-3x"></i></div>

    </div><!-- end #centerCol -->
    
    <!-- Member List -->
    <div id="rightCol">

        <div id="memberPanel">
            <ul>
                <li class="header"><i class="fa fa-users"></i>&nbsp;Users</li>
                <li ng-repeat="member in groupMembers">{{member.handle}}</li>
            </ul>
            <div class="spinnerDiv" ng-if="membersLoading"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
        </div><!-- end #memberPanel -->

    </div><!-- end #rightCol -->
</div><!-- end #container -->